<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      label="New"
      icon="pi pi-plus"
      class="p-button-success mr-2"
      (click)="openNew()"
    ></button>
    <button
      pButton
      pRipple
      label="Delete"
      icon="pi pi-trash"
      class="p-button-danger"
      (click)="deleteSelectedProducts()"
      [disabled]="!selectedProducts || !selectedProducts.length"
    ></button>
  </ng-template>

  <ng-template pTemplate="right">
    <button
      pButton
      pRipple
      label="Export"
      icon="pi pi-upload"
      class="p-button-help"
    ></button>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="products"
  [rows]="10"
  [paginator]="true"
  [globalFilterFields]="[
    'name',
    'country.name',
    'representative.name',
    'status'
  ]"
  [(selection)]="selectedProducts"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">Manage Products</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="searchProducts($event)"
          placeholder="Search..."
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th>Image</th>
      <th pSortableColumn="category1">
        Category1 <p-sortIcon field="category1"></p-sortIcon>
      </th>
      <th pSortableColumn="location1">
        Location1 <p-sortIcon field="location1"></p-sortIcon>
      </th>
      <th pSortableColumn="description">
        Description <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>
        <p-tableCheckbox [value]="product"></p-tableCheckbox>
      </td>
      <td>{{ product.name }}</td>
      <td><img [src]="product.image" [alt]="product.name" width="100" /></td>
      <td>{{ product.category1 }}</td>
      <td>{{ product.location1 }}</td>
      <td>{{ product.description }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="editProduct(product)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteProduct(product)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{ products ? products.length : 0 }} products.
    </div>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '450px' }"
  header="Product Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="product.name"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !product.name"
        >Name is required.</small
      >
    </div>
    <div class="p-field">
      <label for="name">Image URL</label>
      <input type="text" pInputText id="image" [(ngModel)]="product.image" />
    </div>
    <div class="p-field">
      <label for="category1">Category1</label>
      <p-dropdown
        [(ngModel)]="product.category1"
        inputId="category1"
        [options]="category1List"
        placeholder="Select"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option }}</span>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="location1">Location1</label>
      <p-dropdown
        [(ngModel)]="product.location1"
        inputId="location1"
        [options]="location1List"
        placeholder="Select"
        scrollHeight="120px"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option }}</span>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="product.description"
        rows="3"
        cols="20"
      ></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
